.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;    
}

.navbar a {
    text-decoration: none;
    color: gray;
    white-space: nowrap;

}
.navbar .active {
    color: black;
    text-decoration: underline;
}
.navbar p {
    margin: 0;
    padding: 5px 20px;
    white-space: nowrap;
}
.navbar-links {
    display: flex;
    padding: 0 33%;
    
}
.navbar-links a {
    padding: 10px;
    transition: color 1s ease;
}
.navbar-links a:hover {
    color: black;
}



.home-main {
    padding: 10% 33%;
    display: flex;   
    text-align: center; 
    justify-content: space-between; 
    align-items: center;  
}
.home-main img {
    margin: 0%;
    width: 50%;
    height: 50%; 
    max-width: 100%;  
    flex-shrink: 0;  
}
.text-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column; 
}
.text-container p {
    padding: 0 10px;
    max-width: 1500px;
}
.text-container h1 {
    max-width: 1500px;
}

.text-container a {
    cursor: pointer;
    background-color: #E31837;
    border: solid black 1px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    padding: 9px 0px;
    width: 40%;
    
    transition: background-color 0.3s ease;
}
.text-container a:hover {
    background-color: #AF001A;
}


.search {
    margin: 2% auto;
    border: solid black 2px;
    border-radius: 20px;
    width: 60%;
    padding: 5% 5% 0 5%;
    justify-content: center;

}
.search input {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 15px;
    border: none;
    width: 96%;
    font-size: 15px;
    border-radius: 5px;
    background-color: #E1DFDC;
    margin: 5px 0px;
}
.search-buttons {
    display:flex;
    justify-content:space-between;
}
.search button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 5% 0%;
    padding: 15px;
    width: 25%;
    border: black solid 2px;
    font-size: 15px;
    background-color: #E31837;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #AF001A;
}

#error {
    color: lightcoral;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

.courses {
    display: flex;
    gap: 5%;
    justify-content: center;
    margin: 1% 5%;
}
.courses .sub {
    background-color: #D6CFCA;
    font-family: 'Montserrat', sans-serif;
    border: black solid 2px;
    border-radius: 10px;
    text-align: left;    
    padding: 2%;
    font-size: 14px;
    height: 250px;
    width: 550px;
}
.courses .sub a,p {
    display: block;
    position: inherit;
}
#title {
    font-weight: 700;
}



#courseTitle {
    font-family: 'Montserrat', sans-serif;
    padding: 0% 5%;
}

.lesson {
    padding: 1% 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.lesson h3 {
    color: white;
    font-weight: 200;
    padding: 10px 200px; 
    margin: 0; 
    border-radius: 5px; 
    background-color: #E31837;
    transition: background-color 0.3s ease, width 0.3s ease;
    width: 200px; 
    height: auto; 
    text-align: left;
}
.lesson h3:hover {
    background-color: #AF001A;
}

#sub-boxes {
    position: absolute;
    left: 60%;
    display: flex;
    justify-content: space-between; 
    gap: 150px;
}
#sub-box-1, #sub-box-2 {
    width: 200px; 
    height: 100px; 
    background-color: #f4f4f4;
    overflow: hidden; 
    padding: 5%;
    min-height: 120px;
}
.lesson a {
    color: #3AC2EF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}
.lesson input {
    color: black;
    font-size: 12px;
    font-weight: 300;
}


#tracker-container {
    display: flex;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
}
.tracker-box {
    border: black solid 2px;
    border-radius: 5%;
    padding: 0 0 25px 25px;
}
.tracker-content {
    flex: 0 5% 0%;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
}
#tracker-name {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 70%;
}

.tracker-sub-content#tracker-grade-row {
    padding: 65px 0;
}
#tracker-grade-row div {
    background-color: #E31837;
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    padding: 9%;
    font-weight: 500;
}
#tracker-grade {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #E1DFDC;
    border: black solid 1px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    padding: 10px 30px;
}
.tracker-lessons {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    margin:  0;
}
.tracker-lessons h3 {
    color: white;
    text-overflow: hidden;
    font-weight: 200;
    font-size: 16px;
    padding: 8px 80px; 
    margin: 0%; 
    background-color: #E31837;
    width: 210px; 
    border-radius: 4px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.tracker-lessons span {
    font-weight: 500;
}
.tracker-lessons a {
    text-align: left;
}
.tracker-buttons {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: black solid 1px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-size: 12px;
    padding: 1.5% 2% ;
}

.tracker-buttons:hover {
    background-color: #D6CFCA;
}
#delete-button {
    padding-left: 25px;
}

